@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    background: linear-gradient(90deg, #1505f5 0%, #080707 100%);
    font-family: Michroma, serif;
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}


.navbar-nav .nav-link.active {
    color: aquamarine;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: gray;
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #1505f5 0%, #000000 100%);
}

.card {
    background: linear-gradient(90deg, #1d05f5 0%, #000000 100%);

}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.sltext,
.footer-text {
    color: aquamarine;
    margin: auto auto
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #1d05f5 0%, #000000 100%);
}

.mediali {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callanim {
    animation: call 2s ease 0s 1 normal forwards;
}

@keyframes call{
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(-48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(-4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}